<div class="container-fluid text-start">
  <div class="row mt-4">
    <div class="col-10">
      <h1 class="">Coins</h1>
    </div>
    <div class="col">
      <button class="button add" type="button" class="btn btn-primary" data-bs-toggle="modal"
        data-bs-target="#exampleModal1">
        <img src="../../assets/upright.svg">
        Add coin</button>
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="head">
          <div class="modal-title-cont">
            <div class="modal-title text-start">Add Coin</div>
          </div>
          <div class="colxct" style="cursor: pointer;">
            <div class="colx border" data-bs-dismiss="modal" aria-label="Close">
              <img src="../../assets/x.svg" alt="Close">
            </div>
          </div>
        </div>
        <div class="modal-body text-start">
          <form class="form-container mt-2" (ngSubmit)="addCoin()">
            <div class="form-group">
              <label for="nameCoin" class="label mt-2">Name</label>
              <input type="text" class="form-control" id="depositAddress" [(ngModel)]="coinRequest.name" name="name"
                required>
            </div>
            <div class="form-group mt-2">
              <label for="litnameCoin" class="label mt-2">Little Name</label>
              <input type="text" class="form-control" id="depositAmount" [(ngModel)]="coinRequest.litnom" name="litname"
                required>
            </div>
            <div class="form-group mt-2">
              <label for="priceCoin" class="label mt-2">Price</label>
              <input type="number" class="form-control" id="depositAmount" [(ngModel)]="coinRequest.price" name="price"
                required>
            </div>
            <div class="form-group mt-2">
              <label for="addressCoin" class="label mt-2">Address</label>
              <input type="text" class="form-control" id="depositAmount" [(ngModel)]="coinRequest.address" name="price"
                required>
            </div>
            <div class="form-group mt-2">
              <label for="networkCoin" class="label mt-2">Nework</label>
              <input type="text" class="form-control" id="depositAmount" [(ngModel)]="coinRequest.network" name="price"
                required>
            </div>
          </form>
        </div>

        <button class="button btn btn-primary" (click)="addCoin()" [disabled]="!isFormValid()">
          <img src="../../assets/upright.svg"> Add Coin
        </button>
      </div>
    </div>
  </div>
  <div class="row rowtab mt-5 bg-white border">
    <table class="table">
      <tbody>
        <tr *ngFor="let coin of coins" class="align-middle">
          <td>
            <img [src]="lassets + coin.litnom + ext" width="50">
            <p class="name">{{ coin.name }}</p>
            <p class="litname">{{ coin.litnom }}</p>
          </td>
          <td>
            <p class="price">Price</p>
            <input type="number" class="form-control network" [(ngModel)]="coin.price" (input)="coin.isPriceSubmitted = false">
            <p class="price">Address</p>
            <input type="text" class="form-control network" [(ngModel)]="coin.address" (input)="coin.isPriceSubmitted = false">
            <p class="price">Network</p>
            <input type="text" class="form-control network" [(ngModel)]="coin.network" (input)="coin.isPriceSubmitted = false">
          </td>
          <td class="d-flex justify-content-between actions">
            <button *ngIf="!coin.isPriceSubmitted" class="btn btn-primary btntab" (click)="submitCoinUpdate(coin)">
              <i class="bi bi-arrow-repeat" style="cursor: pointer;"></i>
            </button>
            <button *ngIf="coin.isPriceSubmitted" class="btn btn-success btntab" (click)="submitCoinUpdate(coin)">
              <i class="bi bi-check-circle-fill" style="cursor: pointer;"></i>
            </button>
            <button class="btn danger btntab" (click)="deleteCoin(coin)">
              -
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>