.blogitem{
    width:300px;
    height: 150px;
    border-radius: 20px;
}
.cont{
    margin-top: 100px;
    width: 100%;
    gap: 5px;

}

.carousel{
    display: none;
}

@media screen and (max-width:700px) {
        .carousel{
            margin-top: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 80%;
            margin-left: 30px;
        }

        .cont{
            display: none !important;
        }

        
}