
.container-fluid{
  width: 800px;
  overflow-x: auto;
}

.rowtab{
  overflow-x: auto;
}
.row{
  width: 100%;

}
  .th{
    font-size: 10px;
    font-weight: 500;
    color: gray;
  }
  
  td{
    padding: 30px;
    font-weight: 500;
    font-size: 13px;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    overflow-x: auto;
  }
  
  th, td {
    text-align: left;
    padding: 16px;
    border: 1px rgba(255, 255, 255, 0.696) solid;
  }
  
  tr:nth-child(even) {
    background-color: #ffffff;
    border-radius: 20px;
  }

  table tbody tr:hover td {
    border-top: 1px solid blue; /* Change the border to blue on hover */
    border-bottom: 1px solid blue; /* Change the border to blue on hover */
  }

  @media screen and (max-width: 700px) {
    table {
      display: block;
    }
  
    .colphone {
      display: none !important;
    }

    .container-fluid{
      width: 300px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    .rowtab {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
  
    table{

    }
    th, td {
      font-size: 0.9em;
      padding: 10px;
    }
  }
  