<div class="row container bg-white mt-5 ">
    <div class="ele1 d-flex">
        <div class="col text-start mb-5">
            <div class="title">Total Balance</div>
            <div class="sold">{{user.btcSolde}} <span>BTC</span></div>
            <div class="pricedet">{{user.usdtSolde}} USD</div>
        </div>
        <div class="col text-end">
            <button class="button" type="button" class="btn btn-primary" data-bs-toggle="modal"
                data-bs-target="#exampleModal1">
                <img src="../../assets/upright.svg">
                Withdraw</button>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="head">
                            <div class="modal-title-cont">
                                <div class="modal-title text-start">Withdraw</div>
                            </div>
                            <div class="colxct" style="cursor: pointer;">
                                <div class="colx border" data-bs-dismiss="modal" aria-label="Close">
                                    <img src="../../assets/x.svg" alt="Close">
                                </div>
                            </div>
                        </div>
                        <div class="modal-body text-start">
                            <div class="dropdown">
                                <button class="btn dropdown-toggle border" type="button" id="dropdownMenuButton"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <div class="row">
                                        <div class="col-2">
                                            <img [src]="lassets+coins[selectedCoin].litnom+ext" alt="Coin"
                                                style="width: 30px; height: 30px; margin-top: 5px;">
                                        </div>
                                        <div class="col">
                                            <div class="row lit">{{ coins[selectedCoin].litnom }}</div>
                                            <div class="row tit">{{ coins[selectedCoin].name }}</div>
                                        </div>
                                    </div>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <li *ngFor="let coin of coins; let i = index" (click)="selectCoin(i)">
                                        <div class="row">
                                            <div class="col-2">
                                                <img [src]="lassets+coin.litnom+ext" alt="Coin"
                                                    style="width: 30px; height: 30px; margin-top: 5px;">
                                            </div>
                                            <div class="col">
                                                <div class="row lit">{{ coin.litnom }}</div>
                                                <div class="row tit">{{ coin.name }}</div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                            <div class="row mt-4 choose rounded border">
                                <h4>Choose Network</h4>
                                <div class="networkcont">
                                    <input class="form-control" [(ngModel)]="transactionRequest.network" required>
                                </div>
                            </div>

                            <form class="form-container mt-2" (ngSubmit)="submitWithdraw()">
                                <div class="form-group">
                                    <label for="depositAddress" class="label mt-2">Address</label>
                                    <input type="text" class="form-control" id="depositAddress"
                                        [(ngModel)]="transactionRequest.address" name="address" required>
                                </div>
                                <div class="form-group mt-2">
                                    <label for="depositAmount" class="label mt-2">Amount to Withdraw</label>
                                    <input type="number" class="form-control" id="depositAmount"
                                        [(ngModel)]="transactionRequest.amount" name="amount" required>
                                </div>
                            </form>
                        </div>

                        <button class="button btn btn-primary" (click)="submitWithdraw()" [disabled]="!isFormValidForWithraw()">
                            <img src="../../assets/upright.svg"> Withdraw
                        </button>
                    </div>
                </div>
            </div>

        </div>
        <button class="button" style="background-color: rgba(128, 128, 128, 0.318);color: black;" data-bs-toggle="modal"
            data-bs-target="#exampleModal2">
            <img src="../../assets/downleft.svg">
            Deposit</button>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal2" #exampleModal2 tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="head">
                        <div class="modal-title-cont">
                            <div class="modal-title text-start">Deposit</div>
                        </div>
                        <div class="colxct" style="cursor: pointer;">
                            <div class="colx border" data-bs-dismiss="modal" aria-label="Close">
                                <img src="../../assets/x.svg" alt="Close">
                            </div>
                        </div>
                    </div>
                    <div class="modal-body text-start">
                        <div class="dropdown">
                            <button class="btn dropdown-toggle border" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <div class="row">
                                    <div class="col-2">
                                        <img [src]="lassets+coins[selectedCoin].litnom+ext" alt="Coin"
                                            style="width: 30px; height: 30px; margin-top: 5px;">
                                    </div>
                                    <div class="col">
                                        <div class="row lit">{{ coins[selectedCoin].litnom }}</div>
                                        <div class="row tit">{{ coins[selectedCoin].name }}</div>
                                    </div>
                                </div>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <li *ngFor="let coin of coins; let i = index" (click)="selectCoin(i)">
                                    <div class="row">
                                        <div class="col-2">
                                            <img [src]="lassets+coin.litnom+ext" alt="Coin"
                                                style="width: 30px; height: 30px; margin-top: 5px;">
                                        </div>
                                        <div class="col">
                                            <div class="row lit">{{ coin.litnom }}</div>
                                            <div class="row tit">{{ coin.name }}</div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div *ngIf="coins[selectedCoin].network" class="row mt-4 choose rounded border">
                            <h4>Choose Network</h4>
                            <div class="networkcont">
                                <div class="network border" (click)="selectNetwork(coins[selectedCoin].network)"
                                    [ngClass]="{'selected-network': selectedNetwork != ''}">
                                    {{coins[selectedCoin].network}}</div>
                            </div>
                        </div>

                        <div *ngIf="selectedCoin === 0 || selectedCoin === 1" class="row mt-4 choose rounded border">
                            <div class="col-9">
                                <h4>Total Balance</h4>
                            </div>
                            <div class="col">
                                <div class="row totb1">{{user.btcSolde}}</div>
                                <div class="row totb2">{{user.usdtSolde}} USD</div>
                            </div>
                        </div>

                        <div class="row mt-4 choose addresscont rounded border bg-white">
                            <h4>Address</h4>
                            <div class="addresstext">
                                Send only BTC to this address. Sending any other asset to this address may result in the
                                loss of your deposit!
                            </div>
                            <div class="row address rounded border mt-4">
                                    <div class="col-10 textbnt1">0x23228db1b75ba8bcb175a...</div>
                                    <div class="col-2 copybtn1 bg-white" (click)="copyAddress()" >
                                        <img src="../../assets/copy.svg">
                                    </div>
                                </div>
                                <div class="qrcont text-center mt-4">
                                    <img src="../../assets/QRAdress-removebg-preview.png">
                                </div>
                            </div>
                        </div>
                        <button class="button btn btn-secondary" (click)="submitDeposit()"
                        [disabled]="!isFormValidForDeposit()"
                        style="background-color: rgba(128, 128, 128, 0.318); color: black;">
                        <img src="../../assets/downleft.svg"> Deposit
                    </button>
                    </div>
                </div>

            </div>
        </div>