.container-fluid {
  width: 1200px;
}

.row {
  width: 100%;

}

.rowtab{
  width: 100%;
}

.th {
  font-size: 10px;
  font-weight: 500;
  color: gray;
}

td {
  padding: 30px;
  font-weight: 500;
  font-size: 13px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;

}

th,
td {
  text-align: left;
  padding: 16px;
  border: 1px rgba(255, 255, 255, 0.696) solid;
  vertical-align: middle;

}

tr:nth-child(even) {
  background-color: #ffffff;
  border-radius: 20px;
}

thead tr {
  background-color: blue;
  ;
}

@media screen and (max-width: 700px) {
  .container-fluid{
    width: 110%;
  }
  table {
    width: 100%;
    font-size: 12px; /* Réduire la taille de la police */
  }
  
  th, td {
    padding: 8px; /* Réduire l'espacement */
  }
  
  .table-responsive {
    overflow-x: auto; /* Activer le défilement horizontal */
  }
  .coltele{
    display: none;
  }
}
